<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
        Bean的声明周期
            1、bean的定义
                在配置文件中定义
            2、bean初始化
            3、bean的使用
            4、bean的销毁
    -->
    <bean id="roleService" class="com.xdl.service.RoleService" init-method="init" destroy-method="destroy"></bean>
</beans>