<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/task
       http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- Spring扫描器配置-->
    <context:component-scan base-package="com.xdl.task"/>
    <!-- 配置定时任务
        ref:指定的对象，任务类对象
        method：指定的需要执行的方法
        cron： 定时表达式
    -->
    <task:scheduled-tasks>
        <!--每两秒执行一次-->
        <task:scheduled ref="taskJob" method="job1" cron="0/2 * * * * ?"/>
        <!-- 每五秒执行一次-->
        <task:scheduled ref="taskJob" method="job2" cron="0/5 * * * * ?"/>
    </task:scheduled-tasks>
</beans>